<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário</title>
    
</head>
<% data = Date.new(Date.today.year, Date.today.month, 1) %>
<% @data = data %>
<body>
  <div class="calendar">
    <div class="month">
      <ul>
        <li class="prev">&#10094;</li>
        <li>
          <%= Date::ABBR_MONTHNAMES[data.month] %><br>
          <span style="font-size:18px"><%= data.year %></span>
        </li>
        <li class="next"><%data.next_month%>&#10095;</li>
        
      </ul>
    </div>
<%= render "calendar", data: @data %>
  
  <% if @tarefas1.any? %>
    <div class="tarefas-quadro">
      <h1>Tarefas Completas</h1>
      <div class="tarefas">
        <% @tarefas1.each do |tarefa| %>
          <%= render tarefa %>
          <p>
            <%= link_to "Detalhes da tarefa", tarefa , class: "btn btn-primary" %>|
            <%= link_to "Editar Tarefa", edit_tarefa_path(tarefa), class: "btn btn-primary" %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <div class="tarefas-quadro">
    <h1>Tarefas Pendentes</h1>
    <div class="tarefas">
      <% @tarefas.each do |tarefa| %>
        <%= render tarefa %>
        <p>
          <%= link_to "Detalhes da tarefa", tarefa, class: "btn btn-primary" %>|
          <%= link_to "Editar Tarefa", edit_tarefa_path(tarefa), class: "btn btn-primary" %>
        </p>
      <% end %>
    </div>
  </div>

  <%= link_to "Nova Tarefa", new_tarefa_path, class: "btn btn-primary" %>
</body>
</html>
