<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário</title>
    
</head>
<% data = Date.new(Date.today.year, Date.today.month, 1) %>
<% @data = data %>
<body>
  <div class="calendar">
    <div class="month">
      <ul>
        <li class="prev">&#10094;</li>
        <li>
          <%= Date::ABBR_MONTHNAMES[data.month] %><br>
          <span style="font-size:18px"><%= data.year %></span>
        </li>
        <li class="next"><%data.next_month%>&#10095;</li>
        
      </ul>
    </div>
<%= render "calendar", data: @data %>
  
  <%= render "quadro_tarefas", tarefas: @tarefas %>
  <%= link_to "Nova Tarefa", new_tarefa_path, class: "btn btn-primary" %>
</body>
</html>
