
<p style="color: green"><%= notice %></p>

<%= render @tarefa %>

<div>
  <%= link_to "Editar Tarefa", edit_tarefa_path(@tarefa), class: "btn btn-primary" %> |
  <%= link_to "Retornar ao Inicio", tarefas_path , class: "btn btn-primary"%>

  <%= button_to "Deletar Tarefa", @tarefa, method: :delete , class: "btn btn-danger"%>
</div>
